<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#DB0000"/>
 
  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  <link rel="manifest" href="./app.webmanifest">
  <link rel="icon" href="./favicon.png">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap" rel="stylesheet">

  <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
 
  <title>Dine Finder</title>
</head>
<body>
  <a href="#explore-restaurants" class="skip-link">Skip to Content</a>

  <header class="app-bar">
    <div class="app-bar__menu">
      <button id="hamburgerButton" aria-expanded="false" aria-controls="navigationDrawer" aria-label="Open navigation menu">☰</button>
    </div>
    <div class="app-bar__brand">
      <h2>Dine Finder</h2>
    </div>
    <nav id="navigationDrawer" class="app-bar__navigation" role="navigation" aria-label="Main Navigation">
      <ul>
        <li><a href="#/home" aria-label="Go to Home">Home</a></li>
        <li><a href="#/like" aria-label="View Favorite Restaurants">Favorite</a></li>
        <li><a href="https://www.linkedin.com/in/feisfatchuriani/" aria-label="About Us Page">About Us</a></li>
      </ul>
    </nav>    
  </header>
  
  <picture>
    <source media="(max-width: 600px)" srcset="./images/heros/hero-image_2-small.webp" type="image/webp">
    <source media="(max-width: 600px)" srcset="./images/heros/hero-image_2-small.jpg" type="image/jpeg">
    <img src="./images/heros/hero-image_2-large.jpg" alt="A vibrant restaurant setting with people dining and enjoying their meals" class="hero-image">
  </picture>
  

  <section class="explore-restaurants" aria-labelledby="explore-restaurants">
    <h1 id="explore-restaurants">Explore Restaurants</h1>
  </section>
  
  <main id="mainContent" role="main">
    <!-- Konten utama akan ditambahkan di sini -->
  </main>

  <div id="footerTools" role="contentinfo">
    <button id="subscribePushNotification" class="btn" aria-label="Subscribe to push notifications">Subscribe Push Notification</button>
    <button id="unsubscribePushNotification" class="btn" aria-label="Unsubscribe from push notifications">Unsubscribe Push Notification</button>
  </div>

  <footer role="contentinfo">
    <p>Copyright © 2024 - Dine Finder</p>
  </footer>
  
</body>
</html>
